.BoxColor {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  margin: 10px 10px;
  padding: 10px;
  justify-content: center;
  align-items: center;
}

.colorTitle {
  margin: 0;
  font-size: 1.6rem;
}