.BoxColor {
  display: flex;
  flex-direction: column;
  border: 3px solid transparent;
  border-radius: 5px;
  margin: 10px 10px;
  padding: 10px;
  justify-content: center;
  align-items: center;
  background-color: rgb(238, 238, 238);
  transition: 0.3s ease-in-out;
}

.BoxColor:hover {
  border: 3px solid #39bb40;
}

.colorTitle {
  margin: 0;
  font-size: 1.6rem;
}